@import url('https://fonts.googleapis.com/css?family=Quicksand|Poppins:700&display=swap');

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}

.form-container .close {
    background-color: gray;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/*Custom styles*/

h1, h2, h3 {
    color: #292F36;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #292F36;
    min-height: 75px;
    height: 75px;
}


/*Navbar Logo*/
.navbar-light .navbar-brand {
    font-family: 'Poppins', sans-serif;
    color: #FF6B6B;
}

.navbar-light .navbar-brand:hover {
    color: #E86262;
}

/*Navbar Links*/
.navbar-light .navbar-nav .nav-link {
    color: #FF6B6B;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #E86262;
}

/*Main row content*/
.row {
    padding: 25px;
}

.main-content {
    padding-top: 5em;
}

p {
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
}

.main-content .col-md-8 { position: relative; }

.main-content .col-md-4 { position: relative; }

.hero-title {
    font-size: 3em;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
}
.hero-text { 
    position: relative;
    top: 50%;
}

.hero-img {
    width: 700px;
    height: 700px;
    position: absolute;
    left: 10%;
}

@media screen and (max-width: 799px) {
    
    .main-content .col-md-4 { height: 100%; }
    
    .hero-title { position: relative; }
    
    .hero-img { position: relative; left: 0; height: 80%; width: 100%; }
}